.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./images/background.png");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.avatar {
  border: 0.4rem solid transparent;
  max-width: 45%;
  max-height: 45%;
  cursor: pointer;
  border-radius: 5rem;
  transition: 500ms ease-in-out;
}

.avatar-row {
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: space-between;
}

.emoji-picker-image{
  height: 2.2rem;
  cursor: pointer;
}

.emoji-picker-react {
  z-index: 2;
  transform: scale(0.7);
  position: absolute;
  margin-right: -20rem;
  margin-top: -20rem;
  /* margin-bottom: -160px; */
  margin-left: -3rem;
  /* top: -160px; */
}